<div class="flex flex-col mt-12">
   <h1 class="font-black text-3xl mb-5">Public Recipes</h1>
   <ul class="flex flex-col items-center">
    <% @recipes.each do |recipe| %>
       <li class="flex border border-dark rounded p-2 gap-10">
         <div class="flex flex-col">
            <h1 class="text-xl font-black"><%= link_to recipe.name, recipe_path(recipe.id) %></h1>
            <p>by <b><%= recipe.user.name %></b></p>
         </div> 
         <div class="flex flex-col">
            <p>Total food items: <%= recipe.recipe_foods.count%></p>
            <p>Total price: 
               <% total_price = 0 %>
               <% recipe.recipe_foods.each do |recipe_food| %>
                  <% total_price += recipe_food.food.price * recipe_food.quantity %>
               <% end %>
               $<%=total_price %>
            </p>
         </div>
       </li>
    <% end %>    
   </ul>
</div>
